<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>西北大学辅助场馆预约</title>
</head>
<link rel="stylesheet" href="Bootstraptstrap.min.css">
<link rel="stylesheet" href="index.css">
<body>
	<div class="head">
		欢迎使用西北大学抢馆辅助
	</div>
	<div id="app" class="main_div">
		<div class="loader_div" ref="loader_div">
			<div class="loader">
				<svg viewBox="0 0 80 80">
					<circle id="test" cx="40" cy="40" r="32"></circle>
				</svg>
			</div>
			<div class="loader triangle">
				<svg viewBox="0 0 86 80">
					<polygon points="43 8 79 72 7 72"></polygon>
				</svg>
			</div>
			
			<div class="loader">
				<svg viewBox="0 0 80 80">
					<rect x="8" y="8" width="64" height="64"></rect>
				</svg>
			</div>
		</div>
		<!-- 未登录 -->
		<div  v-if="token==='null'" class="loginDiv" >
			<button class="tologinBtn" @click="redirectToPage">去NWU统一认证系统自动登录</button>
		</div>
		<!-- 完成登录 -->
		<div v-else class="logined_div">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<p class="title">登陆成功</p>
						<p class="title">用户名：<span>{{username}}</span></p>
						<p class="title">学号：<span>{{userNum}}</span></p>
						<p>点击查看token</p>
					</div>
					<div class="flip-card-back">
						<p class="title">登录成功</p>
						<p>你的token如下，请妥善保存不要泄露：{{token}}</p>
					</div>
				</div>
			</div>

			<div class="result_div">
				<div class="notfinish common_box" v-if="isFinish">
					<div class="card">
						<div class="bg">
							<div>抢馆成功</div>
							<div>场号：{{resultInfo.name}}</div>
							<div>场次：{{resultInfo.time}}</div>
							<div>价格：{{resultInfo.price}}</div>
							<div>耗时：{{resultInfo.seconds}}s</div>
							<div>请求线程数：{{resultInfo.requestNum}}</div>
							<div>请自行登录场馆预约系统进行订单支付</div>
						</div>
						<div class="blob"></div>
					  </div>					  
				</div>
				<div class="isfinish common_box" v-else>
					<div class="card">
						<div class="bg">还没开始抢</div>
						<div class="blob"></div>
					  </div>					  
				</div>
			</div>

			<div class="time_div">
				<p>选择你要预约的时间，一次只预约一个场次</p>
				<div class="time_select">
					<label for="start">开始时间：</label>
					<select id="start" v-model="startTime" @change="handleSelection(startTime)">
						<option v-for="hour in startHours" :value="hour">{{ hour }}</option>
					</select>
					<label for="end">结束时间：</label>
					<select id="end" v-model="endTime">
						<option v-for="hour in endHours" :value="hour">{{ hour }}</option>
					</select>
				</div>
				<div class="options_div">
					<div class="checkbox-wrapper">
						<label for="_checkbox-26"><div class="tick_mark">抢购完成后退出登录</div></label>
						<input id="_checkbox-26" type="checkbox" v-model="logout">
					</div>
					<div class="checkbox-wrapper">
						<label for="_checkbox-26"><div class="tick_mark">不接受1.5小时场次</div> </label>
						<input id="_checkbox-26" type="checkbox"  v-model="onlyOneHour">
					</div>
				</div>
				<button class="tologinBtn" @click="submitRequest">点击开始抢购</button></button>
			</div>
		</div>
	</div>
	<div  class="footer">

	</div>
	
	</div>
	
	<script src="js/vue.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
<script>
	new Vue({
        el: "#app",
        data: {
          token: "",
		  username:"",
		  userNum:"",
		  logout:false,
		  onlyOneHour:false,
		  startTime:9,
		  endTime:22,
		  startHours: Array.from({ length: 14 }, (_, i) => i + 9),
		  endHours: Array.from({ length: 14}, (_, i) => i+9),
		  isFinish:false,
		  issuccess:true,
		  resultInfo:{
				payurl:"",
				name:"",
				time:"",
				price:"",
				requestNum:0,
				seconds:0
		  }
        },
		methods: {
			redirectToPage() {
				// 在这里进行页面跳转
				window.location.href = "https://cgzx.nwu.edu.cn/#/pages/index/index";
			},
			submitRequest(){
				const element = this.$refs.loader_div; // 获取元素的引用
				element.style.display = 'flex'; 
				const config = {
				params:{
					"token": this.token ,
					"url":"https://cgzx.nwu.edu.cn/admin/app/saveReservationRecordEntity",
					"startTime":this.startTime,
					"endTime":this.endTime,
					"onlyOneHour":this.onlyOneHour,
				}
			};
				axios.get("http://localhost:8081/api/seckill/submitTask", config)
				.then(({data}) => {
						element.style.display = 'none'; 
						data=data.data
						console.log(data)
						console.log(data.body.msg)
						if(data.body.msg=='success'){
							this.issuccess=true;
							this.isFinish=true;
							this.resultInfo.payurl=data.body.payurl;
							this.resultInfo.name=data.name;
							this.resultInfo.price=data.price;
							this.resultInfo.requestNum=data.requestNum;
							this.resultInfo.seconds=data.seconds;
							console.log(this.resultInfo.price)
						}
						//提示输出抢购结果
						if(this.logout){
							//退出登录

						}
					}).catch(function (error) {
					console.log(error);
				});
			},
			handleSelection(){//确保第二个选择框的时间数组值在第一个之后
				this.endHours=Array.from({ length: 14-this.startTime+9}, (_, i) => i+this.startTime+1)
				// for(var el of this.endHours){
				// 	console.log(el)
				// }
			}
		},
        mounted() {
			// 获取token
          this.token = decodeURI(getQueryValueByKey("token"));
		  //根据token查用户信息
		  
		  if(this.token!=''){
			const config = {
				headers:{
					"token": this.token ,
					"url":"https://cgzx.nwu.edu.cn/admin/app/getUser"
				},
				params:{
					"token": this.token ,
					"url":"https://cgzx.nwu.edu.cn/admin/app/getUser"
				}
			};
			//1,发送axios请求,获取登录用户
			axios.get("http://localhost:8081/api/seckill/getUser", config)
			.then(({data}) => {
					var jsonObject = JSON.parse(data.data);
					console.log(jsonObject.user)
					this.username=jsonObject.user.username
					this.userNum=jsonObject.user.userNum
					console.log(this.username)
					console.log(this.userNum)

				}).catch(function (error) {
                  console.log(error);
              });
			  //2,发送请求获取所有的时段信息
			axios.get("http://localhost:8081/api/seckill/getUser", config)
			.then(({data}) => {
					var jsonObject = JSON.parse(data.data);
					console.log(jsonObject.user)
					this.username=jsonObject.user.username
					this.userNum=jsonObject.user.userNum
					console.log(this.username)
					console.log(this.userNum)

				}).catch(function (error) {
				console.log(error);
			});
		  }
        }
    });
	function getQueryValueByKey(key) {
		var query = window.location.search.substring(1);
		var map = query.split("&");
		for (var element of map) {
			var keystr = element.split("=")[0];
				if (keystr === key) {
				return element.split("=")[1];
			}
		}
		return null;
	}
</script>
</html>